[submodule "anchor_escrow_litesvm"]
	path = anchor_escrow_litesvm
	url = https://github.com/A91y/anchor_escrow_litesvm.git
	branch = main
[submodule "whitelist_transfer_hook"]
	path = whitelist_transfer_hook
	url = https://github.com/A91y/whitelist_transfer_hook.git
	branch = main
[submodule "tollgated_vault_anchor"]
	path = tollgated_vault_anchor
	url = https://github.com/A91y/tollgated_vault_anchor.git
	branch = main
[submodule "tuktuk_challenge_deadman_switch"]
	path = tuktuk_challenge_deadman_switch
	url = https://github.com/A91y/tuktuk_challenge_deadman_switch.git
	branch = main
[submodule "magicblock_vrf_challenge"]
	path = magicblock_vrf_challenge
	url = https://github.com/A91y/magicblock_vrf_challenge.git
	branch = main
[submodule "solana_gpt_tuktuk"]
	path = solana_gpt_tuktuk
	url = https://github.com/A91y/solana_gpt_tuktuk.git
	branch = main
